apiVersion: YOUR_SECRET_HERE
kind: YOUR_SECRET_HERE
metadata:
  name: YOUR_SECRET_HERE
  namespace: YOUR_SECRET_HERE
type: YOUR_SECRET_HERE
stringData:
  JWT_SECRET_KEY: YOUR_SECRET_HERE
  DATABASE_PASSWORD: YOUR_SECRET_HERE
  GROQ_API_KEY: YOUR_SECRET_HERE
